.DS_Store
.vscode/launch.json
.vscode/settings.json
cassandra/data/
tweet_consumer/.vscode/launch.json
tweet_consumer/.vscode/settings.json
twitter_service/twitter_service.cfg
twitter_service/config.py
